version: 2.1

defaults: &awscli_docker_container
  docker:
    - image: amazon/aws-cli

commands:
  run_cloudformation_template_cli:
    steps:
    - run: 
        command: |
          aws cloudformation deploy --template-file aws_cfn_template.yml --stack-name udacity_project


jobs:
  run_cloudformation_template_job:
    <<: *awscli_docker_container
    
    steps:
      - checkout
      - run_cloudformation_template_cli

workflows:
  run_cloudformation_template_workflow:
    jobs:
      - run_cloudformation_template_job